<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4 mt-2 mb-5">
    @for (project of projects; track project.name) {
    <div class="col">
      <mat-card class="border border-black rounded-0 p-2 project d-flex flex-column h-100">
        <mat-card-title class="card-title">{{ project.name }}</mat-card-title>
        <mat-card-subtitle class="mb-2 flex-grow-1">{{ project.description }}</mat-card-subtitle>

        <mat-card-content class="d-flex justify-content-center">
          <img mat-card-image [src]="project.img" class="card-img-top" alt="Project image" draggable="false">
        </mat-card-content>

        <mat-card-actions class="mt-5">
          <a [href]="project.href" target="_blank" rel="noreferrer" class="webBtn">Go Project</a>
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </div>
</div>
